{
    "env": {
        "es6": true,
        "node": true
    },
    "extends": ["plugin:self/core", "plugin:self/prettier"],
    "plugins": ["self"],
    "rules": {
        // disable rules introduced by this plugin, not found by self
        "self/coorpacademy/no-async-callback": "off",
        "self/coorpacademy/no-dangerous-logs": "off",
        "self/coorpacademy/no-overwriting-spread": "off",
        "self/coorpacademy/no-promise-all": "off",
        "self/coorpacademy/jsx-no-logical-expression": "off",
        "unicorn/filename-case": "warn"
    },
    "overrides": [
        {
            "files": ["test/**/*.js"],
            "rules": {
                "node/no-unsupported-features/es-syntax": ["error", {
                    "version": ">=12.22.0",
                    "ignores": ["modules"]
                }]
            }
        },
        {
            "files": ["scripts/**/*.js"],
            "rules": {
                "unicorn/no-process-exit": "off"
            }
        }
    ]
}
